<a href="https://colab.research.google.com/github/CIT-NLP/NLP-final-project/blob/main/Model_Building.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown https://drive.google.com/u/0/uc?id=1Ye6AqA9mikhqWbDYej0FH_e63fGsghXF

Downloading...
From: https://drive.google.com/u/0/uc?id=1Ye6AqA9mikhqWbDYej0FH_e63fGsghXF
To: /content/lemmmatized dataframe.csv
100% 145M/145M [00:01<00:00, 75.9MB/s]

# Downloading the dataframe

In [10]:
!ls

'lemmmatized dataframe.csv'   sample_data

In [6]:
import pandas as pd

df = pd.read_csv("./lemmmatized dataframe.csv")

df

,wikipedia id,movie name,genres,summary,unigrams,lemmatized
0,975900,Ghosts of Mars,"['action', 'adventure', 'thriller', 'horror', ...","Set in the second half of the 22nd century, th...","['set', 'second', 'half', '22nd', 'century', '...","['set', 'second', 'half', '22nd', 'century', '..."
1,18998739,The Sorcerer's Apprentice,"['adventure', 'family', 'world cinema', 'fanta...","Every hundred years, the evil Morgana returns...","['years', 'evil', 'morgana', 'returns', 'claim...","['year', 'evil', 'Morgana', 'return', 'claim',..."
2,6631279,Little city,"['drama', 'comedy', 'romance']","Adam, a San Francisco-based artist who works a...","['adam', 'san', 'francisco', 'based', 'artist'...","['Adam', 'San', 'Francisco', 'base', 'artist',..."
3,11250635,The Mechanical Monsters,"['action', 'adventure', 'family', 'short film'...",The story starts as one of the robots flies i...,"['story', 'starts', 'robots', 'flies', 'scient...","['story', 'start', 'robot', 'fly', 'scientist'..."
4,77856,Mary Poppins,"['drama', 'comedy', 'family', 'fantasy']",The film opens with Mary Poppins perched in a...,"['film', 'opens', 'mary', 'poppins', 'perched'...","['film', 'open', 'Mary', 'Poppins', 'perch', '..."
...,...,...,...,...,...,...
26083,26482675,Eşrefpaşalılar,"['drama', 'comedy']","The film is about two friends, Tayyar , a mafi...","['film', 'friends', 'tayyar', 'mafia', 'leader...","['film', 'friend', 'Tayyar', 'mafia', 'leader'..."
26084,23851782,The Ghost Train,"['comedy', 'crime', 'thriller']",{{plot}} The film opens with a Great Western e...,"['plot', 'film', 'opens', 'great', 'western', ...","['plot', 'film', 'open', 'great', 'western', '..."
26085,34980460,Knuckle,"['drama', 'documentary']",{{No plot}} This film follows 12 years in the ...,"['plot', 'film', 'follows', '12', 'years', 'li...","['plot', 'film', 'follow', '12', 'year', 'life..."
26086,913762,The Super Dimension Fortress Macross II: Lover...,"['drama', 'adventure', 'short film', 'science ...","The story takes place in the year 2092,The Sup...","['story', 'takes', 'place', 'year', '2092,the'...","['story', 'take', 'place', 'year', '2092,the',..."
26087,12476867,Spliced,"['thriller', 'horror']",The movie is about a teenage girl who loves ho...,"['movie', 'teenage', 'girl', 'loves', 'horror'...","['movie', 'teenage', 'girl', 'love', 'horror',..."