<a href="https://colab.research.google.com/github/CIT-NLP/NLP-final-project/blob/main/NaiveBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!gdown https://drive.google.com/uc?id=1sruWwskaVr76vsy8T99SyesWHIncqKzT

Downloading...
From: https://drive.google.com/uc?id=1sruWwskaVr76vsy8T99SyesWHIncqKzT
To: /content/processed_dataframe.csv
100% 223M/223M [00:01<00:00, 167MB/s]

In [2]:
import pandas as pd

df = pd.read_csv("./processed_dataframe.csv")

df

,wikipedia id,movie name,genres,summary,unigrams,lemmatized,sentences,lem_sent
0,975900,Ghosts of Mars,"['action', 'adventure', 'thriller', 'horror', ...","Set in the second half of the 22nd century, th...","['set', 'second', 'half', '22nd', 'century', '...","['set', 'second', 'half', '22nd', 'century', '...","['Set in the second half of the 22nd century, ...","[['set', 'second', 'half', '22nd', 'century', ..."
1,6631279,Little city,"['drama', 'comedy', 'romance']","Adam, a San Francisco-based artist who works a...","['adam', 'san', 'francisco', 'based', 'artist'...","['adam', 'san', 'francisco', 'base', 'artist',...","['Adam, a San Francisco-based artist who works...","[['adam', 'san', 'francisco', 'base', 'artist'..."
2,11250635,The Mechanical Monsters,"['action', 'adventure', 'family', 'short film'...",The story starts as one of the robots flies i...,"['story', 'starts', 'robots', 'flies', 'scient...","['story', 'start', 'robot', 'fly', 'scientist'...","["" The story starts as one of the robots flies...","[['story', 'start', 'robot', 'fly', 'scientist..."
3,77856,Mary Poppins,"['drama', 'comedy', 'family', 'fantasy']",The film opens with Mary Poppins perched in a...,"['film', 'opens', 'mary', 'poppins', 'perched'...","['film', 'open', 'mary', 'poppins', 'perch', '...",['The film opens with Mary Poppins perched in...,"[['film', 'open', 'mary', 'poppins', 'perch', ..."
4,156558,Baby Boy,"['drama', 'crime']",A young 20-year-old named Jody lives with his...,"['young', '20', 'year', 'old', 'named', 'jody'...","['young', '20', 'year', 'old', 'name', 'jody',...",['A young 20-year-old named Jody lives with h...,"[['young', '20', 'year', 'old', 'name', 'jody'..."
...,...,...,...,...,...,...,...,...
16604,19286279,Kalai Arasi,"['drama', 'action', 'romance', 'science fiction']",Kalai Arasi' is a well-blended story of romanc...,"['kalai', 'arasi', 'blended', 'story', 'romanc...","['kalai', 'arasi', 'blend', 'story', 'romance'...","[""Kalai Arasi' is a well-blended story of roma...","[['kalai', 'arasi', 'blend', 'story', 'romance..."
16605,664006,Guilty as Sin,"['crime', 'thriller']",Jennifer Haines is an up-and-coming Chicago a...,"['jennifer', 'haines', 'coming', 'chicago', 'a...","['jennifer', 'haines', 'come', 'chicago', 'att...",['Jennifer Haines is an up-and-coming Chicago...,"[['jennifer', 'haines', 'come', 'chicago', 'at..."
16606,15394941,Gopi Kishan,"['drama', 'comedy', 'action', 'crime']",Kishan killed a man in his childhood when the...,"['kishan', 'killed', 'man', 'childhood', 'man'...","['kishan', 'kill', 'man', 'childhood', 'man', ...",['Kishan killed a man in his childhood when t...,"[['kishan', 'kill', 'man', 'childhood', 'man',..."
16607,23851782,The Ghost Train,"['comedy', 'crime', 'thriller']",{{plot}} The film opens with a Great Western e...,"['plot', 'film', 'opens', 'great', 'western', ...","['plot', 'film', 'open', 'great', 'western', '...",['{{plot}} The film opens with a Great Western...,"[['plot', 'film', 'open', 'great', 'western', ..."
16608,913762,The Super Dimension Fortress Macross II: Lover...,"['drama', 'adventure', 'short film', 'science ...","The story takes place in the year 2092,The Sup...","['story', 'takes', 'place', 'year', '2092,the'...","['story', 'take', 'place', 'year', '2092,the',...","['The story takes place in the year 2092,The S...","[['story', 'take', 'place', 'year', '2092,the'..."

In [ ]:
df_trunc = df[:50]

df_trunc

,wikipedia id,movie name,genres,summary,unigrams,lemmatized,sentences,lem_sent
0,975900,Ghosts of Mars,"['action', 'adventure', 'thriller', 'horror', ...","Set in the second half of the 22nd century, th...","['set', 'second', 'half', '22nd', 'century', '...","['set', 'second', 'half', '22nd', 'century', '...","['Set in the second half of the 22nd century, ...","[['set', 'second', 'half', '22nd', 'century', ..."
1,6631279,Little city,"['drama', 'comedy', 'romance']","Adam, a San Francisco-based artist who works a...","['adam', 'san', 'francisco', 'based', 'artist'...","['adam', 'san', 'francisco', 'base', 'artist',...","['Adam, a San Francisco-based artist who works...","[['adam', 'san', 'francisco', 'base', 'artist'..."
2,11250635,The Mechanical Monsters,"['action', 'adventure', 'family', 'short film'...",The story starts as one of the robots flies i...,"['story', 'starts', 'robots', 'flies', 'scient...","['story', 'start', 'robot', 'fly', 'scientist'...","["" The story starts as one of the robots flies...","[['story', 'start', 'robot', 'fly', 'scientist..."
3,77856,Mary Poppins,"['drama', 'comedy', 'family', 'fantasy']",The film opens with Mary Poppins perched in a...,"['film', 'opens', 'mary', 'poppins', 'perched'...","['film', 'open', 'mary', 'poppins', 'perch', '...",['The film opens with Mary Poppins perched in...,"[['film', 'open', 'mary', 'poppins', 'perch', ..."
4,156558,Baby Boy,"['drama', 'crime']",A young 20-year-old named Jody lives with his...,"['young', '20', 'year', 'old', 'named', 'jody'...","['young', '20', 'year', 'old', 'name', 'jody',...",['A young 20-year-old named Jody lives with h...,"[['young', '20', 'year', 'old', 'name', 'jody'..."
5,11448183,Bindiya Chamkegi,"['comedy', 'family']",Shalini 'Shalu' lives a wealthy lifestyle with...,"['shalini', 'shalu', 'lives', 'wealthy', 'life...","['shalini', 'shalu', 'live', 'wealthy', 'lifes...","[""Shalini 'Shalu' lives a wealthy lifestyle wi...","[['shalini', 'shalu', 'live', 'wealthy', 'life..."
6,29528534,Anokha Rishta,"['drama', 'romance', 'world cinema']","Mary, an orphan lives in an orphanage run by n...","['mary', 'orphan', 'lives', 'orphanage', 'run'...","['mary', 'orphan', 'live', 'orphanage', 'run',...","['Mary, an orphan lives in an orphanage run by...","[['mary', 'orphan', 'live', 'orphanage', 'run'..."
7,261237,The Gods Must Be Crazy,"['comedy', 'action', 'adventure', 'world cinema']",The film is a collision of three separate stor...,"['film', 'collision', 'separate', 'stories', '...","['film', 'collision', 'separate', 'story', 'jo...","[""The film is a collision of three separate st...","[['film', 'collision', 'separate', 'story', 'j..."
8,12008535,Rudo y Cursi,"['drama', 'comedy', 'family']","In the fictional farming village of Tlachtlán,...","['fictional', 'farming', 'village', 'tlachtlán...","['fictional', 'farming', 'village', 'tlachtlán...",['In the fictional farming village of Tlachtlá...,"[['fictional', 'farming', 'village', 'tlachtlá..."
9,4951456,Kinjite: Forbidden Subjects,"['action', 'crime', 'thriller']",A Japanese businessman sees a woman being grop...,"['japanese', 'businessman', 'sees', 'woman', '...","['japanese', 'businessman', 'see', 'woman', 'g...",['A Japanese businessman sees a woman being gr...,"[['japanese', 'businessman', 'see', 'woman', '..."
10,5708633,The Great New Wonderful,"['drama', 'comedy']",The Great New Wonderful is a series of vignett...,"['great', 'new', 'wonderful', 'series', 'vigne...","['great', 'new', 'wonderful', 'series', 'vigne...",['The Great New Wonderful is a series of vigne...,"[['great', 'new', 'wonderful', 'series', 'vign..."
11,12053509,Loverboy,"['comedy', 'romance']","Randy Bodek is a rebellious college slacker, ...","['randy', 'bodek', 'rebellious', 'college', 's...","['randy', 'bodek', 'rebellious', 'college', 's...",['Randy Bodek is a rebellious college slacker...,"[['randy', 'bodek', 'rebellious', 'college', '..."
12,2647998,The Human Tornado,"['comedy', 'action']","After coming off a successful comedy tour, Dol...","['coming', 'successful', 'comedy', 'tour', 'do...","['come', 'successful', 'comedy', 'tour', 'dole...","[""After coming off a successful comedy tour, D...","[['come', 'successful', 'comedy', 'tour', 'dol..."
13,5894429,Closing the Ring,"['drama', 'romance']","The film opens in 1991, with the funeral of a ...","['film', 'opens', '1991', 'funeral', 'world', ...","['film', 'open', '1991', 'funeral', 'world', '...","['The film opens in 1991, with the funeral of ...","[['film', 'open', '1991', 'funeral', 'world', ..."
14,27556929,Deadly Voyage,"['drama', 'action', 'thriller', 'horror']","Aboard the cargo ship McRuby, docked in New Yo...","['aboard', 'cargo', 'ship', 'mcruby', 'docked'...","['aboard', 'cargo', 'ship', 'mcruby', 'dock', ...","['Aboard the cargo ship McRuby, docked in New ...","[['aboard', 'cargo', 'ship', 'mcruby', 'dock',..."
15,4300418,The Hero: Love Story of a Spy,"['drama', 'action', 'adventure', 'thriller', '...",Arun Sharma is a spy working for RAW . He set...,"['arun', 'sharma', 'spy', 'working', 'raw', 's...","['arun', 'sharma', 'spy', 'work', 'raw', 'set'...","['Arun Sharma is a spy working for RAW .', 'H...","[['arun', 'sharma', 'spy', 'work', 'raw'], ['s..."
16,10419077,Raampur Ka Lakshman,"['drama', 'world cinema']","Kedarnath Bhargav, his wife, Laxmi, and two so...","['kedarnath', 'bhargav', 'wife', 'laxmi', 'son...","['kedarnath', 'bhargav', 'wife', 'laxmi', 'son...","['Kedarnath Bhargav, his wife, Laxmi, and two ...","[['kedarnath', 'bhargav', 'wife', 'laxmi', 'so..."
17,164387,...And Justice for All,"['drama', 'comedy', 'crime', 'thriller', 'myst...",Arthur Kirkland is a hotheaded but idealistic...,"['arthur', 'kirkland', 'hotheaded', 'idealisti...","['arthur', 'kirkland', 'hotheaded', 'idealisti...",['Arthur Kirkland is a hotheaded but idealist...,"[['arthur', 'kirkland', 'hotheaded', 'idealist..."
18,24282217,The Naked Kitchen,"['drama', 'comedy', 'romance', 'world cinema']",Ahn Mo-rae and Han Sang-in have been friends s...,"['ahn', 'mo', 'rae', 'han', 'sang', 'friends',...","['ahn', 'mo', 'rae', 'han', 'sang', 'friend', ...",['Ahn Mo-rae and Han Sang-in have been friends...,"[['ahn', 'mo', 'rae', 'han', 'sang', 'friend',..."
19,1630107,A Zed & Two Noughts,"['drama', 'comedy']",Twin zoologists Oswald and Oliver Deuce are a...,"['twin', 'zoologists', 'oswald', 'oliver', 'de...","['twin', 'zoologist', 'oswald', 'oliver', 'deu...",['Twin zoologists Oswald and Oliver Deuce are...,"[['twin', 'zoologist', 'oswald', 'oliver', 'de..."
20,11717027,Is There a Doctor in the Mouse?,"['comedy', 'family']",{{Plot}} Jerry is mixing a potion. When he dri...,"['plot', 'jerry', 'mixing', 'potion', 'drinks'...","['plot', 'jerry', 'mix', 'potion', 'drink', 'p...","['{{Plot}} Jerry is mixing a potion.', 'When h...","[['plot', 'jerry', 'mix', 'potion'], ['drink',..."
21,3550323,Things to Do in Denver When You're Dead,"['comedy', 'crime', 'thriller']","Jimmy ""The Saint"" Tosnia is a dapper ex-gangs...","['jimmy', 'saint', 'tosnia', 'dapper', 'ex', '...","['jimmy', 'saint', 'tosnia', 'dapper', 'ex', '...","['Jimmy ""The Saint"" Tosnia is a dapper ex-gan...","[['jimmy', 'saint', 'tosnia', 'dapper', 'ex', ..."
22,1072373,Minsaara Kanavu,"['drama', 'romance', 'world cinema']",Priya Amal Raj loses her mother at a very you...,"['priya', 'amal', 'raj', 'loses', 'mother', 'y...","['priya', 'amal', 'raj', 'lose', 'mother', 'yo...",['Priya Amal Raj loses her mother at a very y...,"[['priya', 'amal', 'raj', 'lose', 'mother', 'y..."
23,1765938,Convoy,"['drama', 'comedy', 'action']","{{Plot}} Truck driver Martin ""Rubber Duck"" Pen...","['plot', 'truck', 'driver', 'martin', 'rubber'...","['plot', 'truck', 'driver', 'martin', 'rubber'...","['{{Plot}} Truck driver Martin ""Rubber Duck"" P...","[['plot', 'truck', 'driver', 'martin', 'rubber..."
24,18902861,14 Going on 30,"['comedy', 'romance', 'fantasy']",14-year-old Danny O'Neil is madly in love wit...,"['14', 'year', 'old', 'danny', ""o'neil"", 'madl...","['14', 'year', 'old', 'danny', ""o'neil"", 'madl...","[""14-year-old Danny O'Neil is madly in love w...","[['14', 'year', 'old', 'danny', ""o'neil"", 'mad..."
25,1305819,C.H.U.D.,"['drama', 'horror', 'science fiction']",The film opens with a woman walking her dog do...,"['film', 'opens', 'woman', 'walking', 'dog', '...","['film', 'open', 'woman', 'walk', 'dog', 'dark...",['The film opens with a woman walking her dog ...,"[['film', 'open', 'woman', 'walk', 'dog', 'dar..."
26,12438366,Mehndi Waley Hath,"['drama', 'romance']",The film begins with a voice over explaining t...,"['film', 'begins', 'voice', 'explaining', 'cau...","['film', 'begin', 'voice', 'explain', 'cause',...",['The film begins with a voice over explaining...,"[['film', 'begin', 'voice', 'explain', 'cause'..."
27,1031231,"Black Cat, White Cat","['comedy', 'romance']","Matko Destanov, a small-time Roma smuggler and...","['matko', 'destanov', 'small', 'time', 'roma',...","['matko', 'destanov', 'small', 'time', 'roma',...","['Matko Destanov, a small-time Roma smuggler a...","[['matko', 'destanov', 'small', 'time', 'roma'..."
28,6305925,The Astronaut Farmer,"['drama', 'adventure', 'science fiction']",Charles Farmer is a former astronaut-in-traini...,"['charles', 'farmer', 'astronaut', 'training',...","['charles', 'farmer', 'astronaut', 'training',...",['Charles Farmer is a former astronaut-in-trai...,"[['charles', 'farmer', 'astronaut', 'training'..."
29,196176,Straw Dogs,"['drama', 'thriller']","David Sumner , a timid American mathematician,...","['david', 'sumner', 'timid', 'american', 'math...","['david', 'sumner', 'timid', 'american', 'math...","['David Sumner , a timid American mathematicia...","[['david', 'sumner', 'timid', 'american', 'mat..."
30,2509881,Critters 3,"['horror', 'science fiction']","Sometime after the events in Critters 2, Charl...","['events', 'critters', '2', 'charlie', 'macfad...","['event', 'critters', '2', 'charlie', 'macfadd...","['Sometime after the events in Critters 2, Cha...","[['event', 'critters', '2', 'charlie', 'macfad..."
31,748616,"Spring, Summer, Fall, Winter... and Spring","['drama', 'world cinema']","The film is divided into five segments , each ...","['film', 'divided', 'segments', 'segment', 'de...","['film', 'divide', 'segment', 'segment', 'depi...","['The film is divided into five segments , eac...","[['film', 'divide', 'segment', 'segment', 'dep..."
32,36151270,Agneekaal,"['drama', 'action', 'crime']",Bharat Nagar is a city in modern secular India...,"['bharat', 'nagar', 'city', 'modern', 'secular...","['bharat', 'nagar', 'city', 'modern', 'secular...",['Bharat Nagar is a city in modern secular Ind...,"[['bharat', 'nagar', 'city', 'modern', 'secula..."
33,336846,Grease,"['comedy', 'romance']","In the summer of 1959, local boy Danny Zuko a...","['summer', '1959', 'local', 'boy', 'danny', 'z...","['summer', '1959', 'local', 'boy', 'danny', 'z...","[' In the summer of 1959, local boy Danny Zuko...","[['summer', '1959', 'local', 'boy', 'danny', '..."
34,27463222,Vanishing on 7th Street,"['thriller', 'horror', 'mystery']",Paul is a projectionist in a Detroit theater ...,"['paul', 'projectionist', 'detroit', 'theater'...","['paul', 'projectionist', 'detroit', 'theater'...",['Paul is a projectionist in a Detroit theate...,"[['paul', 'projectionist', 'detroit', 'theater..."
35,15007384,Le Grand jeu,"['drama', 'romance']","Pierre Martel , a young Parisian businessman, ...","['pierre', 'martel', 'young', 'parisian', 'bus...","['pierre', 'martel', 'young', 'parisian', 'bus...","['Pierre Martel , a young Parisian businessman...","[['pierre', 'martel', 'young', 'parisian', 'bu..."
36,11692389,The Snow Queen,"['adventure', 'family', 'fantasy']","One night in winter, a young girl named Gerda ...","['night', 'winter', 'young', 'girl', 'named', ...","['night', 'winter', 'young', 'girl', 'name', '...","['One night in winter, a young girl named Gerd...","[['night', 'winter', 'young', 'girl', 'name', ..."
37,3829646,What Have I Done To Deserve This?,"['drama', 'comedy', 'crime', 'world cinema']",The film is a slice of a housewife's life in 1...,"['film', 'slice', 'housewife', 'life', '1980s'...","['film', 'slice', 'housewife', 'life', '1980s'...","[""The film is a slice of a housewife's life in...","[['film', 'slice', 'housewife', 'life', '1980s..."
38,27874961,The Iron Rose,"['world cinema', 'horror']",A woman and man who met at a wedding reception...,"['woman', 'man', 'met', 'wedding', 'reception'...","['woman', 'man', 'meet', 'wedding', 'reception...",['A woman and man who met at a wedding recepti...,"[['woman', 'man', 'meet', 'wedding', 'receptio..."
39,3033993,Becoming Jane,"['drama', 'romance']",Jane Austen is the younger daughter of Revere...,"['jane', 'austen', 'younger', 'daughter', 'rev...","['jane', 'austen', 'young', 'daughter', 'rever...",['Jane Austen is the younger daughter of Reve...,"[['jane', 'austen', 'young', 'daughter', 'reve..."
40,30405742,Plug & Pray,"['world cinema', 'science fiction', 'documenta...",Computer experts around the world strive towar...,"['computer', 'experts', 'world', 'strive', 'de...","['computer', 'expert', 'world', 'strive', 'dev...",['Computer experts around the world strive tow...,"[['computer', 'expert', 'world', 'strive', 'de..."
41,103021,Midnight Express,"['drama', 'adventure', 'crime', 'thriller']","On October 6, 1970, while on holiday in Istanb...","['october', '6', '1970', 'holiday', 'istanbul'...","['october', '6', '1970', 'holiday', 'istanbul'...","['On October 6, 1970, while on holiday in Ista...","[['october', '6', '1970', 'holiday', 'istanbul..."
42,33144131,Fly Away,"['drama', 'romance']","It’s midnight, and Jeanne is awakened by wail...","['midnight', 'jeanne', 'awakened', 'wails', 'p...","['midnight', 'jeanne', 'awaken', 'wail', 'pain...","['It’s midnight, and Jeanne is awakened by wa...","[['midnight', 'jeanne', 'awaken', 'wail', 'pai..."
43,1940449,RoboCop 3,"['action', 'crime', 'thriller', 'science ficti...","Omni Consumer Products , on the verge of bankr...","['omni', 'consumer', 'products', 'verge', 'ban...","['omni', 'consumer', 'products', 'verge', 'ban...","['Omni Consumer Products , on the verge of ban...","[['omni', 'consumer', 'products', 'verge', 'ba..."
44,5384210,Gagamboy,"['comedy', 'action', 'world cinema', 'science ...","Junie , is an ice cream vendor, who goes aroun...","['junie', 'ice', 'cream', 'vendor', 'goes', 's...","['junie', 'ice', 'cream', 'vendor', 'go', 'sel...","['Junie , is an ice cream vendor, who goes aro...","[['junie', 'ice', 'cream', 'vendor', 'go', 'se..."
45,6703617,The Forbidden Kingdom,"['action', 'adventure', 'romance', 'fantasy']","In this film, which is based loosely on the an...","['film', 'based', 'loosely', 'ancient', 'chine...","['film', 'base', 'loosely', 'ancient', 'chines...","['In this film, which is based loosely on the ...","[['film', 'base', 'loosely', 'ancient', 'chine..."
46,19389755,Asylum Seekers,"['comedy', 'thriller', 'horror', 'mystery']","Six introverted individuals, bored with their ...","['introverted', 'individuals', 'bored', 'lives...","['introverted', 'individual', 'bore', 'life', ...","['Six introverted individuals, bored with thei...","[['introverted', 'individual', 'bore', 'life',..."
47,362719,Superman,"['action', 'adventure', 'family', 'science fic...","On the planet Krypton, using evidence provided...","['planet', 'krypton', 'evidence', 'provided', ...","['planet', 'krypton', 'evidence', 'provide', '...","['On the planet Krypton, using evidence provid...","[['planet', 'krypton', 'evidence', 'provide', ..."
48,2870618,Boy called Twist,"['drama', 'world cinema']",Twist's mother dies in childbirth in the middl...,"['twist', 'mother', 'dies', 'childbirth', 'mid...","['twist', 'mother', 'die', 'childbirth', 'midd...","[""Twist's mother dies in childbirth in the mid...","[['twist', 'mother', 'die', 'childbirth', 'mid..."
49,21271533,Bleeder,"['drama', 'thriller']","The film follows the friends Leo and Lenny, wh...","['film', 'follows', 'friends', 'leo', 'lenny',...","['film', 'follow', 'friend', 'leo', 'lenny', '...","['The film follows the friends Leo and Lenny, ...","[['film', 'follow', 'friend', 'leo', 'lenny', ..."

In [ ]:
def flatten_sent(sent_list):
  ret_val = []
  for sent in sent_list: 
    ret_val.append(" ".join(sent))
  return ret_val 


df_trunc["lem_sent_join"] = df_trunc.sentences.apply(flatten_sent)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.datasets import make_multilabel_classification
from sklearn.svm import SVC
from sklearn.multioutput import MultiOutputClassifier

In [ ]:
x, y = make_multilabel_classification(n_samples=5000, n_features=10,
                                      n_classes=2, random_state=0)

In [ ]:
xtrain, xtest, ytrain, ytest=train_test_split(x, y, train_size=0.95, random_state=0)

In [ ]:
from ast import literal_eval

for col in ['genres', 'unigrams', 'lemmatized', 'sentences', 'lem_sent']: 
  df[col] = df[col].apply(literal_eval)

In [ ]:
df_all = df[:100]

In [ ]:
def flatten_sent(sent_list):
  ret_val = []
  for sent in sent_list: 
    ret_val.append(" ".join(sent))
  return ret_val 


df_all["lem_sent_join"] = df_all.lem_sent.apply(flatten_sent)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
import numpy as np

X = []
y = []

for _, row in df_all.iterrows(): 
  X.extend(row['lem_sent_join'])
  for sent in row['lem_sent_join']: 
    y.append(row['genres'])

In [ ]:
len(y)

2461

In [ ]:
X

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X)

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

# Create MultiLabelBinarizer object
mlb = MultiLabelBinarizer()

# One-hot encode data
y1 = mlb.fit_transform(y)

In [ ]:
len(y1)

2461

In [ ]:
df_all.genres.iloc[0]

['action', 'adventure', 'thriller', 'horror', 'science fiction']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size=0.25, random_state=42)
mnb = MultinomialNB()

In [ ]:
multi_target_nb = MultiOutputClassifier(mnb, n_jobs=-1)
multi_target_nb.fit(X_train, y_train)

MultiOutputClassifier(estimator=MultinomialNB(), n_jobs=-1)

In [ ]:
y_pred = multi_target_nb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

acc = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average = 'weighted') 


print(f"accuracy is {acc}")
print(f"f1 score is {f1}")

accuracy is 0.1737012987012987
f1 score is 0.5117428491894223

In [ ]:
from sklearn.metrics import jaccard_score

jacc = jaccard_score(y_test, y_pred, average='weighted')

print(f"jaccard score is {jacc}")

jaccard score is 0.40746822332440813

Full Dataframe

In [ ]:
from ast import literal_eval

for col in ['genres', 'unigrams', 'lemmatized', 'sentences', 'lem_sent']: 
  df[col] = df[col].apply(literal_eval)

In [ ]:
def flatten_sent(sent_list):
  ret_val = []
  for sent in sent_list: 
    ret_val.append(" ".join(sent))
  return ret_val 


df["lem_sent_join"] = df.lem_sent.apply(flatten_sent)

In [ ]:
import numpy as np

X = []
y = []

for _, row in df.iterrows(): 
  X.extend(row['lem_sent_join'])
  for sent in row['lem_sent_join']: 
    y.append(row['genres'])

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(X)

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

# Create MultiLabelBinarizer object
mlb = MultiLabelBinarizer()

# One-hot encode data
y1 = mlb.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

X_train, X_test, y_train, y_test = train_test_split(X, y1, test_size=0.25, random_state=42)
mnb = MultinomialNB()

In [ ]:
multi_target_nb = MultiOutputClassifier(mnb, n_jobs=-1)
multi_target_nb.fit(X_train, y_train)

MultiOutputClassifier(estimator=MultinomialNB(), n_jobs=-1)

In [ ]:
y_pred = multi_target_nb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import jaccard_score

acc = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average = 'weighted') 
jacc = jaccard_score(y_test, y_pred, average='weighted')


print(f"accuracy is {acc}")
print(f"f1 score is {f1}")
print(f"jaccard score is {jacc}")

accuracy is 0.1160965468572682
f1 score is 0.44883674881249025
jaccard score is 0.31301755364602

In [ ]:
from sklearn.metrics import multilabel_confusion_matrix

conf = multilabel_confusion_matrix(y_test, y_pred)

In [ ]:
from sklearn.metrics import classification_report

print(conf)
print(classification_report(y_test,y_pred))

[[[ 74802   1280]
  [ 17773  11006]]

 [[ 88520    205]
  [ 12863   3273]]

 [[ 65625   2472]
  [ 22480  14284]]

 [[ 83957    254]
  [ 17073   3577]]

 [[104183      3]
  [   674      1]]

 [[ 33276  15660]
  [  9014  46911]]

 [[ 88149    220]
  [ 13657   2835]]

 [[ 93321     76]
  [  9896   1568]]

 [[ 90463     80]
  [ 12713   1605]]

 [[ 95449     39]
  [  9081    292]]

 [[ 77551   1053]
  [ 19755   6502]]

 [[ 93193    142]
  [  9469   2057]]

 [[ 99466     30]
  [  4916    449]]

 [[102973      8]
  [  1879      1]]

 [[ 74045    979]
  [ 21248   8589]]

 [[ 83801    616]
  [ 15168   5276]]]
              precision    recall  f1-score   support

           0       0.90      0.38      0.54     28779
           1       0.94      0.20      0.33     16136
           2       0.85      0.39      0.53     36764
           3       0.93      0.17      0.29     20650
           4       0.25      0.00      0.00       675
           5       0.75      0.84      0.79     55925
           6       0.93      0.17      0.29     16492
           7       0.95      0.14      0.24     11464
           8       0.95      0.11      0.20     14318
           9       0.88      0.03      0.06      9373
          10       0.86      0.25      0.38     26257
          11       0.94      0.18      0.30     11526
          12       0.94      0.08      0.15      5365
          13       0.11      0.00      0.00      1880
          14       0.90      0.29      0.44     29837
          15       0.90      0.26      0.40     20444

   micro avg       0.82      0.35      0.50    305885
   macro avg       0.81      0.22      0.31    305885
weighted avg       0.87      0.35      0.45    305885
 samples avg       0.64      0.37      0.44    305885

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

Full-Summary Version

In [ ]:
type(df_all['summary'][0])

str

In [ ]:
import numpy as np

df_all = df[:100]

X_doc = []
y_doc = []

for _, row in df.iterrows(): 
  #X_doc.append(str(row['summary']))
  #for sent in row['summary']: 
  y_doc.append(row['genres'])

In [ ]:
X_doc

In [ ]:
lst = []

for _, row in df.iterrows():
  strng = " ".join(row['lemmatized'])
  #print(strng)
  lst.append(strng)

lst

In [ ]:
len(lst)

16609

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

# Create MultiLabelBinarizer object
mlb = MultiLabelBinarizer()

# One-hot encode data
y1 = mlb.fit_transform(y_doc)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(lst, y1, test_size=0.25, random_state=42)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [ ]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()

In [ ]:
from sklearn.multioutput import MultiOutputClassifier

multi_target_nb = MultiOutputClassifier(mnb, n_jobs=-1)
multi_target_nb.fit(X_train, y_train)

MultiOutputClassifier(estimator=MultinomialNB(), n_jobs=-1)

In [ ]:
y_pred = multi_target_nb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import jaccard_score

acc = accuracy_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred, average = 'weighted') 
jacc = jaccard_score(y_test, y_pred, average='weighted')


print(f"accuracy is {acc}")
print(f"f1 score is {f1}")
print(f"jaccard score is {jacc}")

accuracy is 0.0007223693715386468
f1 score is 0.1711434876755551
jaccard score is 0.13420011070730686

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.01      0.01      1069
           1       0.00      0.00      0.00       582
           2       0.88      0.08      0.15      1552
           3       0.00      0.00      0.00       795
           4       0.00      0.00      0.00        51
           5       0.68      0.92      0.78      2265
           6       1.00      0.00      0.01       629
           7       0.00      0.00      0.00       388
           8       0.00      0.00      0.00       480
           9       0.00      0.00      0.00       332
          10       0.67      0.00      0.00      1027
          11       0.00      0.00      0.00       359
          12       0.00      0.00      0.00       281
          13       0.00      0.00      0.00        68
          14       0.00      0.00      0.00      1081
          15       0.00      0.00      0.00       873

   micro avg       0.69      0.19      0.30     11832
   macro avg       0.26      0.06      0.06     11832
weighted avg       0.45      0.19      0.17     11832
 samples avg       0.53      0.20      0.29     11832

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))